@import '../../components/GlobalStyles/mixin.scss';

.cart-empty-container {
    display: flex;
    justify-content: center;
    padding: 48px 0;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-img {
    width: 190px;
    height: 190px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cart-empty-text {
    color: var(--secondary);
    font-weight: 700;
    padding: 64px 0 18px 0;
}

.cart-container {
    display: flex;
    margin: 36px 0;

    @include Responsive(tablet) {
        flex-direction: column;
    }
    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.cart-list {
    flex: 2;
}

.cart-item-header {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
}

.item-price-heading,
.item-qty-heading,
.item-total-heading {
    @include Responsive(mobile) {
        display: none;
    }
}

.item-price-heading {
    margin-left: 198px;
}

.item-qty-heading {
    margin-left: 40px;
}

.item-total-heading {
    margin-left: 73px;
}

.cart-item {
    display: flex;
    background-color: #f1f5f8;
    margin-bottom: 12px;

    @include Responsive(mobile) {
        justify-content: space-between;
    }
}

.section-1 {
    display: flex;
    align-items: center;

    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.item-img {
    width: 100px;
    height: 100px;
    background-color: #ffffff;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include Responsive(mobile) {
        width: 80px;
        height: 80px;
    }
}

.item-name {
    margin-left: 12px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include Responsive(mobile) {
        width: 80px;
    }
}

.section-2 {
    display: flex;
    align-items: center;
    margin-left: 12px;

    @include Responsive(mobile) {
        flex-direction: column;
        justify-content: space-around;
    }
}

.item-total-price,
.item-price {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.item-qty {
    display: flex;
    align-items: center;
}

.qty-minus,
.qty-plus,
.qty-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.qty-minus,
.qty-plus {
    font-size: 2rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 12px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--secondary);
        color: #ffffff;
        transition: 0.5s all;
    }
}

.item-del-btn {
    color: var(--secondary);
    margin: auto 0;
    padding: 0 48px 0 24px;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
        color: var(--primary);
    }
}

.cart-bill {
    flex: 1;
    padding: 16px;
    margin-left: 24px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);

    @include Responsive(tablet) {
        margin-left: 0;
    }
    @include Responsive(mobile) {
        margin-left: 0;
    }
}

.order-total-price,
.order-total-qty {
    display: flex;
    justify-content: space-between;
}

.bill-actions {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .check-out-btn {
        margin-bottom: 12px;
    }

    .shop-more-btn {
        line-height: 1.1;
    }

    .check-out-btn,
    .shop-more-btn {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 37.5em) and (max-width: 50em) {
    .section-2 {
        flex-direction: row;
    }
}
