@import '../GlobalStyles/mixin.scss';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #615c85;
    --secondary: #fa7455;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

.container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
    @include Responsive(tablet) {
        width: 94%;
    }
    @include Responsive(mobile) {
        width: 98%;
    }
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.page-path {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 12px 0;
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000000;

    a {
        color: var(--primary);
        font-weight: 600;
        transition: 0.5s all;

        &:hover {
            color: #000000;
        }
    }
    span {
        padding: 0 8px;
    }
}
