@import '../GlobalStyles/mixin.scss';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #233a95;
    --secondary: #ed174a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

.container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
    @include Responsive(tablet) {
        width: 94%;
    }
    @include Responsive(mobile) {
        width: 98%;
    }
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}
