@import '../../components/GlobalStyles/mixin.scss';

.slider {
    overflow: hidden;
    position: relative;
}

.slider-img {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.slider-text {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    p {
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 8px;
        text-shadow: 2px 2px #000000;

        @include Responsive(mobile) {
            letter-spacing: 0;
        }
    }

    h1 {
        font-size: 5.5rem;
        @include Responsive(mobile) {
            font-size: 2.8rem;
        }
    }
    p {
        font-size: 2rem;
        margin-bottom: 20px;
        @include Responsive(mobile) {
            font-size: 1.4rem;
        }
    }

    .slider-btn {
        @include Responsive(mobile) {
            padding: 8px 16px;
            min-width: 60px;
        }
    }
}

.prev-slide,
.next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #858585;
    font-size: 2.6rem;
    padding: 10px;

    &:hover {
        color: #ffffff;
        transition: 0.5s all;
        cursor: pointer;
    }
}

.prev-slide {
    left: 40px;
}

.next-slide {
    right: 40px;
}

@include Responsive(mobile) {
    .prev-slide {
        left: 20px;
    }

    .next-slide {
        right: 20px;
    }
}

.new-arrival-section {
    padding: 72px 0;
}

.section-title {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 32px;
    word-spacing: 4px;

    @include Responsive(mobile) {
        font-size: 2.5rem;
    }
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;

    @include Responsive(tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include Responsive(mobile) {
        grid-template-columns: 1fr;
    }
}

.product-item {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 16px;
}

.product-img {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        object-fit: contain;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        height: 0;
        background: rgba($color: #000000, $alpha: 0.4);
        transition: height ease-in-out 0.3s;
    }
    &:hover::before {
        height: 100%;
    }

    &:hover {
        .to-product-detail {
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.to-product-detail {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1.8s, transform 1.8s, opacity 1.8s;
}

.product-info {
    position: relative;
}

.product-name,
.product-price {
    margin-bottom: 8px;
}

.product-name {
    color: #9595b0;
    font-weight: 400;
    letter-spacing: 2px;
}

.product-price {
    color: var(--secondary);
    font-weight: 600;
}

.star-checked {
    color: yellow;
}

.add-cart-btn {
    position: absolute;
    top: 32px;
    right: 0;
    font-size: 2.3rem;
    cursor: pointer;

    &:hover {
        color: var(--secondary);
        transition: 0.5s all;
    }
}
