@import '../../components/GlobalStyles/mixin.scss';

.slider {
    overflow: hidden;
    position: relative;
}

.slider-img {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }

    @include Responsive(mobile) {
        height: 350px;

        img {
            height: 100%;
        }
    }
}

.slider-text {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    p {
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 8px;
        text-shadow: 2px 2px #000000;

        @include Responsive(mobile) {
            letter-spacing: 0;
        }
    }

    h1 {
        font-size: 5.5rem;
        @include Responsive(mobile) {
            font-size: 2.8rem;
        }
    }
    p {
        font-size: 2rem;
        margin-bottom: 20px;
        @include Responsive(mobile) {
            font-size: 1.4rem;
        }
    }

    .slider-btn {
        @include Responsive(mobile) {
            padding: 8px 16px;
            min-width: 60px;
        }
    }
}

.prev-slide,
.next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #858585;
    font-size: 2.6rem;
    padding: 10px;

    &:hover {
        color: #ffffff;
        transition: 0.5s all;
        cursor: pointer;
    }
}

.prev-slide {
    left: 40px;
}

.next-slide {
    right: 40px;
}

@include Responsive(mobile) {
    .prev-slide {
        left: 20px;
    }

    .next-slide {
        right: 20px;
    }
}

.product-section {
    padding: 72px 0;
}

.discount-section {
    margin-top: 72px;
}

.section-title {
    font-size: 4.5rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 32px;
    word-spacing: 4px;
    color: var(--primary);

    @include Responsive(mobile) {
        font-size: 2.5rem;
    }
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;

    @include Responsive(tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include Responsive(mobile) {
        grid-template-columns: 1fr;
    }
}

.product-item {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 16px;
}

.product-tag {
    background: #f60b0e;
    color: #fff;
    right: -18px;
    position: absolute;
    top: 8px;
    width: 79px;
    font-size: 13px;
    height: 29px;
    text-align: center;
    line-height: 2.3;
    transform: rotate(-90deg);
}

.new-tag {
    background: #f60b0e;
}

.discount-tag {
    background: #ffdf00;
}

.product-img {
    position: relative;
    width: 100%;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:hover {
        .to-product-detail {
            opacity: 1;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.to-product-detail {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1.8s, transform 1.8s, opacity 1.8s;
}

.product-info {
    position: relative;
}

.product-name,
.product-price {
    margin-bottom: 8px;
}

.product-name {
    width: 90%;
    color: #9595b0;
    font-weight: 400;
    letter-spacing: 2px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.product-price {
    color: var(--secondary);
    font-weight: 600;

    span {
        color: rgba($color: #000000, $alpha: 0.4);
        text-decoration: line-through;
        margin-right: 12px;
    }
}

.star-checked {
    color: yellow;
}

.add-cart-btn {
    position: absolute;
    top: 32px;
    right: 0;
    font-size: 2.3rem;
    cursor: pointer;

    &:hover {
        color: var(--secondary);
        transition: 0.5s all;
    }
}

.banner-sale-time {
    position: relative;
    height: 420px;

    .banner-mid {
        background: url('../../assets/img/banner-mid.jpg') top center / cover no-repeat;
        height: 100%;
    }
}

.sale-time-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale-time-title {
    text-align: center;
    color: #ffffff;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 4px;

    @include Responsive(mobile) {
        font-size: 2rem;
    }
}

.sale-time-countdown {
    display: flex;
}

.days-countdown,
.hours-countdown,
.minutes-countdown,
.seconds-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0 36px;
    text-transform: uppercase;

    @include Responsive(mobile) {
        padding: 0 16px;
    }

    p {
        font-size: 5.5rem;
        font-weight: 500;

        @include Responsive(mobile) {
            font-size: 2.5rem;
        }
    }

    span {
        font-size: 1.5rem;
        @include Responsive(mobile) {
            font-size: 1.2rem;
        }
    }
}
