@import '../../GlobalStyles/mixin.scss';

.product-detail-banner {
    position: relative;
    height: 350px;

    .banner-mid {
        background: url('../../../assets/img/product-banner.jpg') rgba($color: #000000, $alpha: 0.3) center / cover
            no-repeat;
        background-blend-mode: multiply;
        height: 100%;
    }
}

.product-detail-wrapper {
    display: flex;
    margin-top: 72px;
    margin-bottom: 48px;

    @include Responsive(tablet) {
        flex-direction: column;
    }
    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.product-detail-img {
    flex: 1;
    display: flex;

    img {
        width: 400px;
        height: 400px;
        margin: auto;
        object-fit: contain;

        @include Responsive(mobile) {
            width: 300px;
            height: 300px;
        }
    }
}

.product-detail-info {
    flex: 1;
    padding: 24px;

    .product-detail-name {
        font-size: 2.2rem;
    }

    .product-detail-price {
        font-size: 2rem;
        font-weight: 700;

        span {
            color: rgba($color: #000000, $alpha: 0.4);
            text-decoration: line-through;
            margin-right: 12px;
        }
    }
}

.product-detail-qty {
    display: flex;

    .qty-minus,
    .qty-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 2rem;
        border: 1px solid #cccccc;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: #ffffff;
            background-color: var(--secondary);
            border: none;
        }
    }
    .qty-num {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 0 12px;
    }
}

.product-detail-name,
.product-detail-desc,
.product-detail-price,
.product-detail-rating,
.product-detail-qty {
    margin-bottom: 12px;
}

.product-detail-share {
    margin-top: 32px;

    p {
        font-size: 1.4rem;
    }
}
.share-list {
    display: flex;
    margin-top: 8px;
    margin-left: -4px;

    li {
        width: 35px;
        height: 35px;
        font-size: 2.2rem;
        margin: 0 4px;
        cursor: pointer;

        &:hover {
            color: var(--secondary);
            transition: 0.5s all;
        }
    }
}

.featured-product {
    margin-top: 48px;
    margin-bottom: 72px;

    h1 {
        font-size: 4.5rem;
        font-weight: 400;
        font-style: italic;
        color: var(--primary);
        margin-bottom: 32px;

        @include Responsive(mobile) {
            font-size: 2.5rem;
        }
    }
}
