.filter-by-rating,
.filter-rating-field {
    margin-top: 24px;
    font-size: 1.5rem;

    .filter-title {
        font-size: 1.8rem;
    }
}

.rating-selection {
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 2px 8px;
    border-radius: 8px;
    margin-bottom: 4px;
    cursor: pointer;

    span {
        &:last-child {
            margin-left: 8px;
            line-height: 0;
        }
        cursor: pointer !important;
    }
}

.active-rating {
    color: #5ba4b0;
    background-color: #e6f4f5;
    border: 1px solid #5ba4b0;
}
