@import '../GlobalStyles/mixin.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;

    animation: modalFadeIn ease 0.5s;
}

.modal-tabs {
    display: flex;
    cursor: pointer;

    .checkout-tab,
    .ordersum-tab {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 12px 0;

        @include Responsive(tablet) {
            font-size: 2rem;
        }
    }

    .checkout-tab {
        color: #ffffff;
        background-color: #131917;
    }

    .ordersum-tab {
        color: #000000;
        background-color: #ffffff;
    }

    @include Responsive(pc) {
        display: none;
    }
}

.modal-body {
    position: relative;
    display: flex;

    @include Responsive(tablet) {
        display: block;
    }

    @include Responsive(mobile) {
        display: block;
    }
}

.left-side {
    position: relative;
    flex: 1;
    background-color: #131917;

    @include Responsive(tablet) {
        display: none;
        width: 500px;
        height: 500px;
    }

    @include Responsive(mobile) {
        display: none;
        height: 500px;
    }
}

.checkout-info {
    padding: 20px;

    h4 {
        display: inline-block;
        font-size: 1.4rem;
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }
}

.payment-methods {
    margin-top: 12px;

    p {
        font-size: 1.3rem;
        font-weight: 600;
        color: #ffffff;
    }
}

.payment-methods-field {
    display: flex;
    column-gap: 12px;
    margin-top: 12px;
}

.payment-methods-selection {
    width: 64px;
    height: 42px;
    opacity: 0.5;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        opacity: 1;
        border-bottom: 2px solid #ffffff;
    }
}

.checkout-form {
    margin-top: 18px;
}

.form-checkout-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    label {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        color: var(--secondary);
    }

    input {
        width: 260px;
        padding: 8px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #ffffff;
        background-color: transparent;
    }

    input::placeholder {
        color: #ffffff;
    }

    @include Responsive(tablet) {
        input {
            width: 100%;
        }
    }
}

.order-btn {
    position: absolute;
    width: 100%;
    font-weight: 600;
    bottom: 0;
    border-radius: unset;
}

.right-side {
    flex: 3;

    h4 {
        display: inline-block;
        font-size: 1.4rem;
        padding-top: 20px;
        margin-left: 24px;
        border-bottom: 3px solid black;
    }

    @include Responsive(tablet) {
        display: none;
    }

    @include Responsive(mobile) {
        display: none;
    }
}

.cart-list {
    padding: 24px;
    height: 360px;
    overflow-y: scroll;
}

.cart-item-header {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
    padding: 24px 24px 0 24px;
}

.item-price-heading,
.item-qty-heading,
.item-total-heading {
    @include Responsive(mobile) {
        display: none;
    }
}

.item-price-heading {
    margin-left: 198px;
}

.item-qty-heading {
    margin-left: 40px;
}

.item-total-heading {
    margin-left: 36px;
}

.cart-item {
    display: flex;
    background-color: #f1f5f8;
    margin-bottom: 12px;
    width: fit-content;

    @include Responsive(mobile) {
        width: 250px;
    }
}

.section-1 {
    display: flex;
    align-items: center;

    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.item-img {
    width: 100px;
    height: 100px;
    background-color: #ffffff;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include Responsive(mobile) {
        width: 80px;
        height: 80px;
    }
}

.item-name {
    margin-left: 12px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include Responsive(mobile) {
        width: 80px;
    }
}

.section-2 {
    display: flex;
    align-items: center;
    margin-left: 12px;

    @include Responsive(mobile) {
        flex-direction: column;
        justify-content: space-around;
    }
}

.item-total-price,
.item-price {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.item-qty {
    display: flex;
    align-items: center;
}

.qty-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

.bill-order {
    padding: 24px;

    .total-bill-info {
        display: flex;
        justify-content: space-between;
    }
}

.activePayment {
    opacity: 1;
    border-bottom: 2px solid #ffffff;
}

.show-tab {
    display: block;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
