@import '../../components/GlobalStyles/mixin.scss';

.product-banner {
    position: relative;
    height: 350px;

    .banner-mid {
        background: url('../../assets/img/product-banner.jpg') rgba($color: #000000, $alpha: 0.3) center / cover
            no-repeat;
        background-blend-mode: multiply;
        height: 100%;

        @include Responsive(mobile) {
            background-position: left;
        }
    }
}
