@import '../../../components/GlobalStyles/mixin.scss';

.newsletter {
    background-color: var(--primary);
}

.newsletter-content {
    display: flex;
    align-items: center;
    padding: 48px 0;

    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.newsletter-text {
    flex: 1;
    color: #ffffff;

    p {
        font-size: 1.4rem;
        font-weight: 300;
    }

    @include Responsive(mobile) {
        text-align: center;
    }
}

.newsletter-form {
    display: flex;
    flex: 1;
    .newsletter-input,
    .newsletter-submit {
        font-size: 1.6rem;
        padding: 15px;
        border: none;
    }

    @include Responsive(mobile) {
        margin-top: 16px;
    }
}

.newsletter-input {
    display: block;
    width: 70%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
}
.newsletter-submit {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer {
    width: 100%;
    background-color: #ffffff;
    padding-top: 48px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 48px 0;

    @include Responsive(mobile) {
        flex-direction: column;
    }

    @include Responsive(tablet) {
        flex-direction: column;
    }
}

.left-side,
.right-side {
    display: flex;
    flex: 1;

    @include Responsive(mobile) {
        flex-direction: column;
    }
}

.info-content {
    flex: 1;

    @include Responsive(mobile) {
        margin-bottom: 24px;
    }
}

.info-title {
    h2 {
        font-weight: 400;
    }
}

.info-title::after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--primary);
    width: 58px;
}

.info-contact-list,
.info-link-list {
    margin-top: 48px;

    li {
        margin-bottom: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span,
        a {
            margin-left: 8px;
            font-size: 1.5rem;
        }

        a {
            &:hover {
                color: var(--primary);
                transition: 0.5s all;
            }
        }
    }

    @include Responsive(mobile) {
        margin-top: 36px;
    }
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #edeff7;
    border-radius: 50%;
    color: var(--primary);
}

.link-icon {
    font-size: 1.2rem;
}

.social-content {
    margin-top: 40px;

    h3 {
        color: var(--primary);
    }
}

.social-list {
    display: flex;
    margin-top: 8px;
    margin-left: -4px;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ebebeb;
    margin: 0 4px;
    transition: 0.5s all;

    &:hover {
        background-color: var(--primary);
    }

    &:hover a {
        color: #ffffff;
        transition: 0.5s all;
    }
}

.footer-copyright {
    padding: 32px 0;
    border-top: 1px solid #eeeeee;

    p {
        text-align: center;
        font-size: 1.5rem;
    }
}
