@import '../../../components/GlobalStyles/mixin.scss';

.top-header {
    height: 94px;
    background: #ffffff;
    padding: 16px 0;
}

.header-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.login-btn,
.search-btn,
.cart-btn {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    span {
        margin: auto;
        border-radius: 50%;
    }

    @include Responsive(mobile) {
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
    }
}

.logo {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    font-style: italic;
    a {
        color: var(--primary);
    }

    span {
        color: var(--secondary);
    }

    @include Responsive(tablet) {
        font-size: 3rem;
    }

    @include Responsive(mobile) {
        font-size: 2.4rem;
    }
}

.search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    margin-right: 50px;
    border: none;

    @include Responsive(mobile) {
        margin-right: 0;
    }
}

.cart-btn {
    position: relative;
    display: flex;
    background-color: #fef1f4;
    border: none;

    a {
        color: var(--secondary);
        padding: 12px;
        line-height: 0;
        margin: auto;
    }

    .qty-in-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -4px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #ffffff;
        padding: 2px;
        background-color: #dc2626;
        min-width: 20px;
        height: 20px;
        border-radius: 50%;

        @include Responsive(mobile) {
            font-size: 1.2rem;
            min-width: 16px;
            height: 16px;
        }
    }
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    color: #ffffff;
    background-color: var(--primary);
    border-color: rgba($color: #ffffff, $alpha: 0.62);
    transition: 0.5s all;
    z-index: 999;

    @include Responsive(tablet) {
        min-height: 68px;
    }
    @include Responsive(mobile) {
        min-height: 68px;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;

    @include Responsive(tablet) {
        justify-content: space-between;
    }

    @include Responsive(mobile) {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;

    .nav-item {
        padding: 4px 15px;
    }

    .nav-link {
        color: inherit;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 0 4px;

        &:hover {
            border-bottom: 1px solid;
            border-color: inherit;
            border-radius: 4px;
            transition: 0.5s all;
        }
    }

    @include Responsive(tablet) {
        display: none;
    }

    @include Responsive(mobile) {
        display: none;
    }
}

.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border: none;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 600;
    transition: 0.5s all;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: var(--secondary);
    }
}

.nav-dropdown {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: var(--secondary);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    @include Responsive(pc) {
        visibility: hidden;
    }
}

.nav-list-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: height ease-in 0.5s, margin-top ease-in 0.5s;

    .nav-item {
        padding: 8px 0;
    }

    .nav-link {
        color: #000000;
    }

    .nav-link:hover {
        color: var(--secondary);
        border-bottom: 1px solid rgba($color: #fa7455, $alpha: 0.62);
        border-radius: 4px;
        transition: 0.5s all;
    }

    @include Responsive(pc) {
        display: none;
    }
}

.toggleNav {
    height: 200px;
    margin-top: 15px;
}

.active {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.62);
    border-radius: 4px;

    @include Responsive(tablet) {
        color: var(--secondary) !important;
        border-bottom: 1px solid rgba($color: #fa7455, $alpha: 0.62);
        border-radius: 4px;
    }

    @include Responsive(mobile) {
        color: var(--secondary) !important;
        border-bottom: 1px solid rgba($color: #fa7455, $alpha: 0.62);
        border-radius: 4px;
    }
}

.nav-bar-effect {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 20px 25px -5px rgba($color: #000000, $alpha: 0.1);
    transition: 0.5s all;

    .nav-link:hover {
        color: var(--secondary);
    }

    .active {
        color: var(--secondary) !important;
        border-bottom: 1px solid rgba($color: #fa7455, $alpha: 0.62);
        border-radius: 4px;
    }

    .dark-mode {
        color: #000000;

        &:hover {
            color: var(--secondary);
        }
    }
}
