.filter-by-price {
    margin-top: 24px;
    font-size: 1.5rem;
    border: 1px solid #cccccc;
    padding: 12px;

    .filter-title {
        font-size: 1.8rem;
    }

    .price-value-field {
        display: flex;
        justify-content: space-between;
    }

    .slider {
        cursor: pointer;
        width: 100%;
        padding: 12px 0;
    }

    .track {
        background-color: #cccccc;
        height: 6px;
        border-radius: 20px;
    }

    .track:nth-child(2) {
        background-color: var(--primary);
    }

    .thumb {
        width: 16px;
        height: 16px;
        background: var(--secondary);
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 7px;
    }
}
